<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/sky/sky.css" rel="stylesheet">
    <link href="css/all.css" rel="stylesheet">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/login.js"></script>
    <!-- your app's js -->
  </head>
  <body ng-app="log" ng-controller="logCtrl">
  <div class="login-p1">
    <div class="header" ng-click="backMain()">
      <i class="fa fa-chevron-left" ></i> 返回
    </div>
    <div class="t-c">
      <div class="title">登陆EMOTION账号，玩转所有服务</div>
    </div>
    <form class="form t-c" ng-init="user='root';pasw='729499'">
      <div class="form-msg c-red">{{alert}}</div>
      <input type="text" placeholder="请输入用户名" class="f-i" ng-model="user"/>
      <input type="password" placeholder="请输入密码" class="f-i" ng-model="pasw"/>
      <button class="btn btn-secondary btn-block btn-round" ng-click="login()">马上登陆</button>
      <button class="btn btn-opacity btn-block btn-round" ng-click="regGo()">快速注册</button>
    </form>
  </div>
  <div ng-show="isBack" class="bg-div" ></div>
  <div ng-show="alertNow" class="{{proAni}}" >
     <div class="pro-title">{{proTitle}}</div>
     <div class="pro-text">{{proText}}</div>
     <div class="pro-btn" ng-click="ensure()">确认</div>
   </div>

  </body>
  </html>